<a href="/home">Home</a>
<p></p><a href="/edit">Back to Edit Options</a>
<center>
    <h3>Edit Year</h3>
</center>
<form class="grid" action="/edityes" method="POST">

    <label>Write the index you wish to edit</label>
    <center><input type="number" name="index" style="border-radius:100px;" min="1" max="{{tor}}" required></center>
    <label>Type in the new Year</label>
    <center><input type="number" name="Yer" style="border-radius:100px;" min="2022" required></center>
    <p></p>
    <center><button style="border-radius:100px;" type="Submit">
            <h2>Edit Year</h2>
        </button></center>
    <p></p>
    {%if get%}
    <center>You have changed the year in index {{index}} to {{shy}}</center>
    <center>The index {{index}} is now {{get}}</center>
    {%endif%}
</form>