<a href="/home">Home</a>
<p></p><a href="/edit">Back to Edit Options</a>
<center><h3>Edit Day</h3></center>
<form class="grid" action="/editdaye" method="POST">

    <label>Write the index you wish to edit</label>
    <center><input type="number" name="Inde" style="border-radius:100px;" min="1" max="{{tor}}" required></center>
    <label>Type in the new Day</label>
    <center><input type="number" name="Day" style="border-radius:100px;" min="1" max="31" required></center>
    <p></p>
    <center><button style="border-radius:100px;" type="Submit">
            <h2>Edit Day</h2>
        </button></center>
</form>
<p></p>
{%if get%}
<center>You have changed the day in index {{index}} to {{shd}}</center>
<center>The index {{index}} is now {{get}}</center>
{%endif%}
</form>