<a href="/home">Home</a>

<center>
    <h3>Edit page</h3>
</center>
<form action="/editwho">
    <center><button style="border-radius:100px;" type="Submit">
            <h3>Edit Whole index</h3>
        </button></center>
</form>
<p></p>
<form action="/editac">
    <center><button style="border-radius:100px;" type="Submit">
            <h3>Edit action</h3>
        </button></center>


</form>
<form action="/editday">
    <center><button style="border-radius:100px;" type="Submit">
            <h3>Edit Day</h3>
        </button></center>

</form>
<form action="/editmo">
    <center><button style="border-radius:100px;" type="Submit">
            <h3>Edit Month</h3>
        </button></center>

</form>
<form action="/editye">
    <center><button style="border-radius:100px;" type="Submit">
            <h3>Edit Year</h3>
        </button></center>

</form>