<body style="background-color:black ;"></body>
<center>
    <h3 style="background-color:red;color:aqua">My Practice Web3 Todo-list</h3>
</center>
<div style=" background-color:red ;">
    <center>
        <table>
            <tr>
                <th style="width:50%;">
                    <form action="/hometest">

                        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;"
                                type="Submit">
                                <h3>Add item to List</h3>
                            </button></center>
                    </form>

                </th>
                <th></th>
                <th>
                    <form action="/dest">
                        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;"
                                type="Submit">
                                <h3>Get item from List</h3>
                            </button></center>
                    </form>

                </th>
            </tr>
        </table>
    </center>


    <form action="/rem">
        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;" type="Submit">
                <h3>Remove item from List</h3>
            </button></center>
    </form>
    <form action="/edit">

        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;" type="Submit">
                <h3>Edit List</h3>
            </button></center>
    </form>
    <form action="/alls">
        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;" type="Submit">
                <h3>Get Number of saved items</h3>
            </button></center>
    </form>
    <form class="grid" action="/allt">
        {{bat}}
        <center><button style="background-color:blue;color:rgb(7, 4, 4);border-radius:100px;" type="Submit">
                <h3>Get all things on list</h3>
            </button></center>

    </form>

</div>